In [ ]:
a= 1 # a is an integer
b=4.56 # b is a floating point number
c="harshit" # c is a string
d=True # d is s boolean variable
e=None # e is a non type variable

""" HERE A,B,C,D,E ALL ARE VARIABLES"""

#### OPERATORS

In [ ]:
# arithmatic operators
# +, -, *, /
# assingment operator
# =,+=,-=
# comparison operator
# >,<,>=,<=,==,!=
# logical operator
# and ,or ,not

#### type() function and typrcasting

In [3]:
a = 31
type(a) # class <int>
print(type(a))
b = "31"
B=type (b) # class <str>
print(B)

<class 'int'>
<class 'str'>

In [7]:
a ="31" # integer to string conversion
b= float(a)
print(type(b)) # integer to float conversion

<class 'float'>

#### input()   function

In [11]:
number1= int(input("enter first number: "))
number2= int(input("enter second number: "))
print("number 1 is: ",number1)
print("number 2 is: ",number2)
print("sum is: ",number1+number2)

enter first number: 55
enter second number: 45
number 1 is:  55
number 2 is:  45
sum is:  100

In [12]:
number1= int(input("enter first number: "))
number2= int(input("enter second number: "))
print("number 1 is: ",number1)
print("number 2 is: ",number2)
print("number1 is greater than number2 is: ",number1>number2)

enter first number: 40
enter second number: 50
number 1 is:  40
number 2 is:  50
number1 is greater than number2 is:  False

In [15]:
number1= float(input("enter first number: "))
number2= float(input("enter second number: "))
print("number 1 is: ",number1)
print("number 2 is: ",number2)
print("average of number1 and number2 is: ",(number1+number2)/2)

enter first number: 45.65
enter second number: 678.876
number 1 is:  45.65
number 2 is:  678.876
average of number1 and number2 is:  362.263

In [16]:
number1= float(input("enter first number: "))
print("square of number1 is: ",(number1**2) #a**2 is a*a which is a square

enter first number: 45
enter second number: 55
square of number1 and number2 is:  50.0

### STRINGS

In [19]:
name="harshit"
#slicing
sl=name[0:4] #cahracters from 0 to 4 (excluding 4)
print(sl)

hars

In [20]:
char1=name[4]
print(char1)

h

In [24]:
char1=name[4]
print(char1)

char2=name[:4] # start from 0
print(char2)

char3=name[4:] # start from 4 to (len-1)
print(char3)

char4=name[-4:-1]
print(char4)

char5=name[3:6]
print(char5)

h
hars
hit
shi
shi

In [27]:
char6=name[:6:1] # it is same as [0:6:1] means character 0 to 6 by skipping 1 alternately
print(char6)

harshi

#### strings function

### strings are immutable

In [29]:
# string.len:to calculate length
l=len(name)
print(l)

7

In [34]:
# String.endswith("hit") – This function_ tells whether the variable string ends with the string "hit" or not
end=name.endswith("hit")
print(end)
start=name.startswith("har")
print(start)

True
True

In [35]:
#string.count("c") – counts the total number of occurrences of any character.
count=name.count("h")
print(count)

2

In [36]:
# str.capitalize()=it capitalize the first character of a given string.
str = "harry youtuber"
capitalized_string = str.capitalize()
print(capitalized_string) # Output: "Harry"

Harry youtuber

In [37]:
#  str.lower()
# Converts all characters in the string to lowercase.
string = "Hello, World!"
lowercase_string = string.lower()
print(lowercase_string)  # Output: hello, world!

hello, world!

In [38]:
# str.upper()
# Converts all characters in the string to uppercase.
string = "Hello, World!"
uppercase_string = string.upper()
print(uppercase_string)  # Output: HELLO, WORLD!

HELLO, WORLD!

In [39]:
# str.replace()
# Replaces a substring with another substring.

string = "Hello, World!"
new_string = string.replace("World", "Python")
print(new_string)  # Output: Hello, Python!

Hello, Python!

In [40]:
# str.split()
# Splits the string into a list of substrings.
string = "Hello, World!"
split_string = string.split()
print(split_string)  # Output: ['Hello,', 'World!']

['Hello,', 'World!']

In [41]:
# str.join()
# Joins elements of a list into a single string with a specified separator.
words = ["Hello", "World"]
joined_string = " ".join(words)
print(joined_string)  # Output: Hello World

Hello World

In [42]:
# str.find()
# Finds the first occurrence of a substring and returns its index.
string = "Hello, World!"
index = string.find("World")
print(index)  # Output: 7

7

#### practice on strings

In [18]:
# Write a python program to display a user entered name followed by Good
# Afternoon using input () function.
name=input("enter your name:")
print(f"good afternoon {name}"  )

enter your name:h
good afternoon h

In [7]:
#Write a program to fill in a letter template given below with name and date.
name=input("enter your name:")
date=(input("enter date:"))
print("Dear",name,
      "You are selected"
       ,date)

enter your name:5dec
enter date:6dec5
Dear 5dec You are selected 6dec5

In [12]:
#Write a program to fill in a letter template given below with name and date.
letter = '''
Dear <|Name|>,
You are selected!
<|Date|>
'''
print(letter.replace("<|Name|>","hars").replace("<|Date|>","1july 2024"))

Dear hars,
You are selected!
1july 2024

In [20]:
#Write a program to detect double space in a string
name="you are a very   very good  boy"
print(name.find("goo"))

22

In [23]:
#Replace the double space from problem 3 with single spaces.
name="you are a very   very good  boy"
print(name.replace("  "," ").replace("   "," "))

you are a very  very good boy

In [26]:
# Write a program to format the following letter using escape sequence
# characters.
letter = "Dear Harry, \nthis \tPython course is nice. \nThanks!"
print(letter)

Dear Harry,
this 	Python course is nice.
Thanks!

#### list and tuples

In [28]:
items=["apple","orange","green",4,"6",'@',"=!",False]
print(items)

['apple', 'orange', 'green', 4, '6', '@', '=!', False]

In [29]:
print(items[5])

@

In [30]:
# lists are mutable
items[6]="i don't know"
print(items)

['apple', 'orange', 'green', 4, '6', '@', "i don't know", False]

In [31]:
print(items[3:8])

[4, '6', '@', "i don't know", False]

#### list functions

In [34]:
items.append("kutta")
print(items)

['apple', 'orange', 'green', 4, '6', '@', "i don't know", False, 'kutta', 'kutta', 'kutta']

In [37]:
l1=[3,4,5,6,6,7,8,8,9,9,7,6,6,5,55,5,6,6,6666,7,7,78,8,8,8,9,9,8,8,77,6,5,5,]

In [38]:
l1.sort()
print(l1)

[3, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 55, 77, 78, 6666]

In [39]:
l1.reverse()
print(l1)

[6666, 78, 77, 55, 9, 9, 9, 9, 8, 8, 8, 8, 8, 8, 8, 7, 7, 7, 7, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 4, 3]

In [46]:
items.insert(6,5)
print(items)

['apple', 'orange', 'green', 4, '6', '@', 5, "i don't know", False, 'kutta', 'kutta', 'kutta']

In [51]:
print(l1.pop(15))
print(l1)

7
[6666, 78, 77, 55, 9, 9, 9, 8, 8, 8, 8, 8, 7, 7, 7, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 4, 3]

In [53]:
print(l1.remove(6666))
print(l1)

None
[78, 77, 55, 9, 9, 9, 8, 8, 8, 8, 8, 7, 7, 7, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 4, 3]

### tuple
#### tuples are immutable
#### lists are mutable

In [54]:
a=(1,2,5,6)
print(type(a))

<class 'tuple'>

In [56]:
b=(1,)
print(type(b))

<class 'tuple'>

### tuple functions

In [58]:
# a.count (1): a count (1) will return number of times 1 occurs in a.
b=a.count(2)
print(b)

1

In [59]:
#a.index (1) will return the index of first occurrence of 1 in a
b=a.index(5)
print(b)

2

### practice set of tuple and list

In [3]:
fruits=[]
f1=input("enter fruit name:")
fruits.append(f1)
f2=input("enter fruit name:")
fruits.append(f2)
f3=input("enter fruit name:")
fruits.append(f3)
f4=input("enter fruit name:")
fruits.append(f4)
f5=input("enter fruit name:")
fruits.append(f5)

enter fruid name:
enter fruid name:
enter fruid name:
enter fruid name:
enter fruid name:

In [5]:
print(fruits)

['', '', '', '', '']

In [15]:
marks=[]
f1=float(input("enter fruid name:"))
marks.append(f1)
f2=float(input("enter fruid name:"))
marks.append(f2)
f3=float(input("enter fruid name:"))
marks.append(f3)

marks.sort()
print(marks)

enter fruid name:6
enter fruid name:54
enter fruid name:78
[6.0, 54.0, 78.0]

In [16]:
s=[4,56,78,56]
print(sum(s))

194

In [17]:
a = (7, 0, 8, 0, 0, 9)
print(a.count(0))

3

### DICTIONARY

In [2]:
marks={
    "harshit":100,
    "rohan":50,
    "rohit":55.67,
    0:"ronak"
}
print(marks,type(marks))

{'harshit': 100, 'rohan': 50, 'rohit': 55.67, 0: 'ronak'} <class 'dict'>

In [3]:
print(marks["rohit"])

55.67

In [4]:
print(marks[0])

ronak

In [5]:
print(marks.items())

dict_items([('harshit', 100), ('rohan', 50), ('rohit', 55.67), (0, 'ronak')])

In [6]:
print(marks.keys())

dict_keys(['harshit', 'rohan', 'rohit', 0])

In [7]:
print(marks.values())

dict_values([100, 50, 55.67, 'ronak'])

In [8]:
marks.update({"harshit":99.5,"harman":56})
print(marks)

{'harshit': 99.5, 'rohan': 50, 'rohit': 55.67, 0: 'ronak', 'harman': 56}

In [9]:
print(marks.get("rohan"))

50

In [11]:
print(marks["rohan"]) # this will give error
print(marks.get("rohan"))#this will give none

50
50

In [42]:
d={}#empty dict
s={1,}#empty set
set1=set()

In [43]:
print(type(d),type(s),type(set1))

<class 'dict'> <class 'set'> <class 'set'>

In [44]:
s1={3,4,5,66,6,66,6,6,8,9,0,"harry",44.5}
print(s1)

{0, 66, 3, 4, 5, 6, 8, 9, 44.5, 'harry'}

In [45]:
s1.add(True)
print(s,type(s))

{1} <class 'set'>

#### properties of set
#### 1)un ordered
#### 2) Sets are unindexed 
#### 3) There is no way to change items in sets.
#### 4) Sets cannot contain duplicate values.

In [46]:
s2={5,6,7,8,9,4,"harry",True}

In [47]:
print(s1.intersection(s2))

{True, 4, 5, 6, 8, 9, 'harry'}

In [48]:
print(s1.union(s2))

{0, True, 66, 3, 4, 5, 6, 7, 8, 9, 44.5, 'harry'}

### practice set and dictionary

In [50]:
# 1
words={
    "billi":"cat",
    "madad":"help",
    "chashma": "specticals"
}
word=input("enter the word to get there meaning:")
print(words[word])

enter the word to get there meaning:billi
cat

In [1]:
# 2
s=set()
n1=float(input("enter any number:"))
s.add(n1)
n2=float(input("enter any number:"))
s.add(n2)
n3=float(input("enter any number:"))
s.add(n3)
n4=float(input("enter any number:"))
s.add(n4)
n5=float(input("enter any number:"))
s.add(n5)
n6=float(input("enter any number:"))
s.add(n6)
n7=float(input("enter any number:"))
s.add(n7)
n8=float(input("enter any number:"))
s.add(n8)
print(s)

enter any number:4
enter any number:5
enter any number:6
enter any number:7
enter any number:8
enter any number:9
enter any number:5
enter any number:1
{1.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0}

In [2]:
#3
s1={18,"18"}
print(s1)

{18, '18'}

In [3]:
#4
s = set()
s.add(20)
s.add(20.0)
s.add('20') # length of s after these operations?
print(s)

{20, '20'}

In [4]:
#6
dict={}
name=input("enter your name:")
language=input("enter your favorite language:")
dict.update({name:language})

name=input("enter your name:")
language=input("enter your favorite language:")
dict.update({name:language})

name=input("enter your name:")
language=input("enter your favorite language:")
dict.update({name:language})

name=input("enter your name:")
language=input("enter your favorite language:")
dict.update({name:language})

name=input("enter your name:")
language=input("enter your favorite language:")
dict.update({name:language})

print(dict)

enter your name:harshit
enter your favorite language:c++
enter your name:aman
enter your favorite language:k
enter your name:h
enter your favorite language:K
enter your name:rohan
enter your favorite language:python
enter your name:rohit
enter your favorite language:html
{'harshit': 'c++', 'aman': 'k', 'h': 'K', 'rohan': 'python', 'rohit': 'html'}

In [5]:
s = {8, 7, 12, "Harry", [1,2]}

TypeError: unhashable type: 'list'

### Conditional Expression

In [8]:
age=int(input("enter your age:"))
if(age>=18):
    print("you are eligible")
elif(age<0):
    print("negative age is not possible ")
elif(age==0):
    print("0 age is not possible ")
else:
    print("not eligible")
    
print("end of programm")

enter your age:-4
negative age is not possible
end of programm

In [14]:
age=int(input("enter your age:"))
# if stat 1
if(age%2!=0):
    print("age is an odd number")
# end of if stat 1

# if stat 2
if(age%2==0):
    print("age is an even number")

# end of # if stat 2

# if stat 3


if(age>=18):
    print("you are eligible")

elif(age<0):
    print("negative age is not possible ")
elif(age==0):
    print("0 age is not possible ")
else:
    print("not eligible")
    
# end of # if stat 3
    
print("end of programm")

enter your age:4
age is an even number
not eligible
end of programm

### conditional practice

In [23]:
# 1
n1=float(input("enter number1:"))
n2=float(input("enter number2:"))
n3=float(input("enter number3:"))
n4=float(input("enter number4:"))
if (n1>n2 and n1>n3 and n1>n4):
    print("n1 is the the greatest which is:",n1)
    
elif (n2>n1 and n2>n3 and n2>n4):
    print("n1 is the the greatest which is:",n2)
    
elif (n3>n2 and n3>n1 and n3>n4):
    print("n1 is the the greatest which is:",n3)
    
elif (n4>n2 and n4>n3 and n4>n1):
    print("n1 is the the greatest which is:",n4)
    
print("end of programm")

enter number1:78.5786
enter number2:78.66585
enter number3:78.656
enter number4:78.5475
n1 is the the greatest which is: 78.66585
end of programm

In [30]:
#2
m1=float(input("enter the percentage of s1:"))
m2=float(input("enter the percentage of s2:"))
m3=float(input("enter the percentage of s3:"))
total_percentage=(m1+m2+m3)/3
if(m1>=33 and m2>=33 and m3>=33 and (m1+m2+m3)/3>= 40 ):
    print("pass:",total_percentage)
else:
    print("fail:",total_percentage)
    
print("end result")

enter the percentage of s1:45
enter the percentage of s2:56
enter the percentage of s3:20
fail: 40.333333333333336
end result

In [31]:
#3
p1="Make a lot of money”"
p2="buy now"
p3="subscribe this"
p4="click this"
comment=input("write a comment:")
if(p1 in comment or(p2 in comment)or(p3 in comment)or(p4 in comment)):
    print("spam=>",comment)

else:
    print("not a spam=>",comment)

write a comment:hellow, avail buy now offer
spam hellow, avail buy now offer

In [32]:
#4
username=input("enetr your username:")
if(len(username)<10):
    print("<10")
else:("well done")

enetr your username:h
<10

In [34]:
#5
l=["harry","rohan","rohit","harshit","mayank"]
name=input("enter your name:")
if(name in l):
    print("name is in list",name)
else:
    print("name is not in list")

enter your name:harshit
name is in list harshit

In [35]:
#6
marks = int(input("Enter your marks: "))

if(marks<=100 and marks>=90):
    grade = "Ex"
elif(marks<90 and marks>=80):
    grade = "A"
elif(marks<80 and marks>=70):
    grade = "B"
elif(marks<70 and marks>=60):
    grade = "C"
elif(marks<60 and marks>=50):
    grade = "D"
elif(marks<50):
    grade = "F"

print("Your grade is:", grade)

Enter your marks: 60
Your grade is: C

In [37]:
post = input("Enter the post: ")



if("Harshit".lower() in post.lower()):
    print("This post is talking about harshit")

else:
    print("This post is not talking about harshit")

Enter the post: HARSHIT
This post is talking about harshit

### loops()

In [40]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [1]:
i=1
while(i<4):
    print(i)
    i+=1

1
2
3

In [3]:
i=0
for i in range(0,5):
    print("harshit")

harshit
harshit
harshit
harshit
harshit

In [5]:
i=0
while(i<5):
    print("harshit")
    i+=1 #i=i+1

harshit
harshit
harshit
harshit
harshit

In [6]:
items=["apple","orange","green",4,"6",'@',"=!",False]
i=0
while(i<len(items)):
    print(items[i])
    i+=1

apple
orange
green
4
6
@
=!
False

In [7]:
items=["apple","orange","green",4,"6",'@',"=!",False]
i=0
for i in range(0,len(items)):
    print(items[i])

apple
orange
green
4
6
@
=!
False

In [8]:
s="harshit"
for i in s:
    print(i)

h
a
r
s
h
i
t

## for loop with else

In [9]:
l=[2,4,5,6,7]
for item in l:
    print(item)
else:
    print("done")

2
4
5
6
7
done

### break statement

In [12]:
for i in range(0,100,6):
    if(i==30):
        break
    print(i)

0
6
12
18
24

In [13]:
for i in range(0,100,6):
    if(i==30):
        continue
    print(i)

0
6
12
18
24
36
42
48
54
60
66
72
78
84
90
96

In [14]:
for i in range(0,100,6):
    pass

## loop practice

In [18]:
n=int(input("enter a number:"))
for i in range(1,11):
    print(n ,"X", i,"=", n*i)

enter a number:67
67 X 1 = 67
67 X 2 = 134
67 X 3 = 201
67 X 4 = 268
67 X 5 = 335
67 X 6 = 402
67 X 7 = 469
67 X 8 = 536
67 X 9 = 603
67 X 10 = 670

In [20]:
# by using f string
n=int(input("enter a number:"))
for i in range(1,11):
    print(f"{n}X{i}={n*i}")

enter a number:6
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54
6X10=60

In [21]:
l = ["Harry", "Soham", "Sachin", "Rahul"]
for name in l:
    if(name.startswith("S")):
        print("hellow",name)

hellow Soham
hellow Sachin

In [22]:
i=1
while(i<=10):
    print(f"{n}X{i}={n*i}")
    i+=1

6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54
6X10=60

In [30]:
n=int(input("enter a number:"))
for i in range(2,n):
    if(n%i==0):
        print("number is not prime")
    else:
        print("number is prime")
        break

enter a number:9
number is prime

In [9]:
n=int(input("enter a number:"))
i=1
sum=0
while(i<=n):
    sum+=i
    i+=1
print("sum:",sum)

enter a number:5
sum: 15

In [13]:
n=int(input("enter a number:"))
i=1
fact=1
while(i<=n):
    fact=fact*i
    i+=1
print("factorial of",n,"=",fact)

enter a number:5
factorial of 5 = 120

In [18]:
n=int(input("enter a number:"))
i=1
fact=1
while(i<=n):
    fact=fact*i
    i+=1
print(f"factorial of {n} is={fact}")

enter a number:6
factorial of 6 is=720

In [20]:
n=int(input("enter a number:"))
for i in range(1,11):
    print(f"{n}X{11-i}={n*(11-i)}")

enter a number:5
5X10=50
5X9=45
5X8=40
5X7=35
5X6=30
5X5=25
5X4=20
5X3=15
5X2=10
5X1=5

## function and recursion

In [1]:
# function defination
def avg_of_numbers():
    n1=int(input("enter a number:"))
    n2=int(input("enter a number:"))
    n3=int(input("enter a number:"))
    avg=(n1+n2+n3)/3
    print(avg)

In [2]:
# function call
avg_of_numbers()

enter a number:5
enter a number:6
enter a number:7
6.0

In [6]:
def goodday(name):
    print("good day" +" "+ name)
    
    
goodday("harshit")

good day harshit

In [14]:
def good_day(name,ending):
    print("good day" +" "+ name+" "+ending)
    print(ending)
    return "done"
    
    
a=good_day("harshit","thank you")    
print(a)

b= good_day("Harry", "Thank you") 
print(b)

good day harshit thank you
thank you
done
good day Harry Thank you
Thank you
done

In [15]:
def goodDay(name, ending="Thank you"):
    print(f"Good Day, {name}")
    print(ending)

goodDay("Harry", "Thanks")
goodDay("Rohan")

Good Day, Harry
Thanks
Good Day, Rohan
Thank you

### recursion

In [18]:
def factorial(n):
    if(n==1 or n==0):
        return 1
    return n*factorial(n-1)

n=int(input("enter a number:"))
print(f"factorial of {n} is:{factorial(n)}")

enter a number:6
factorial of 6 is:720

### recursion and function practices

In [2]:
#1
a=int(input("enter a number:"))
b=int(input("enter a number:"))
c=int(input("enter a number:"))
def greatest_number(a,b,c):
    
    
    if(a>b and a>c):
        print(f"{a} is a greatest number")
        return a
    elif(b>a and b>c):
        print(f"{b} is a greatest number")
        return b
    elif(c>b and c>a):
        print(f"{c} is a greatest number")
        return c
                

        
n1=greatest_number(a,b,c)
print(n1)

enter a number:5
enter a number:6
enter a number:7
7 is a greatest number
7

In [12]:
#2 
f=int(input("enter your farenhite:"))
def f_to_c(f):
    return 5*(f-32)/9
    
    
   
z=f_to_c(f)
print(z)

enter your farenhite:67
19.444444444444443

In [16]:
#3
print("a")
print("b")
print("c" ,end=" ")
print("d" ,end=" ")

a
b
c d

In [1]:
#6
n=int(input("enter a number:"))
def sum(n):
    if(n==1):
        return 1
    return sum(n-1)+n


sum(5)

enter a number:5

15

In [2]:
#7
sum(10)

55

In [3]:
sum(4)

10

In [6]:
inch=float(input("enter the value in inch:"))
def inch_to_cm(inch):
    print(2.54*inch)
    return 2.54*inch

a=inch_to_cm(5)
print(a)

enter the value in inch:7
12.7
12.7

In [10]:
#
def rem(l,word):
    n=[]
    for item in l:
        if not (item==word):
            n.append(item.strip(word))
    return n
l=["harry","rohan","harshit","shubham"]            
            
rem(l,"ha")

['rry', 'rohan', 'rshit', 'shubham']

In [14]:
#
def table(n):
    for i in range(1,11):
        
        print(f"{n}X{i}={n*i}")
table(10)

10X1=10
10X2=20
10X3=30
10X4=40
10X5=50
10X6=60
10X7=70
10X8=80
10X9=90
10X10=100

# file i/o

In [37]:
f = open("file.txt")
data = f.read()
print(data)
f.close()

hello how are you

In [38]:
st="hello how are you "
f= open("myfile.txt","w") #write mode
f.write(st)
f.close()

In [34]:
f = open("file.txt")

# lines = f.readlines()
# print(lines, type(lines))

# line1 = f.readline()
# print(line1, type(line1))

# line2 = f.readline()
# print(line2, type(line2))

# line3 = f.readline()
# print(line3, type(line3))

# line4 = f.readline()
# print(line4, type(line4))

# line5 = f.readline()
# print(line5 =="")

line = f.readline()
while(line != ""):
    print(line)
    line = f.readline()
    

f.close()

hello how are you

In [35]:
st = "Hey Harry you are amazing"

f = open("myfile.txt", "a")

f.write(st)

f.close()

In [36]:
f = open("file.txt")
print(f.read())
f.close()

# The same can be written using with statement like this:
with open("file.txt") as f:
    print(f.read())

# You dont have to explicitly close the file

hello how are you
hello how are you

In [39]:
f=open("file.txt")
lines=f.readlines()
print(lines,type(lines))
f.close()

['hello how are you '] <class 'list'>

In [45]:
st = "Hey Harry you are amazing"

f = open("myfile.txt", "a")

f.write(st)

f.close()

In [46]:
with open("file.txt") as f:
    print(f.read())

hello how are you

In [56]:
#1
f=open("pomes.txt") 
c=f.read()
if("twinke" in c):
    print("twinke is present")
else:
    print("not present")
    
    
print(c)

twinke is present
twinke twinke little star kaise ho mere
bhi log yaaaaaaaaar
bye bye!

In [12]:
#2
import random
def game():
    print("you are playing...")
    yourscore=random.randint(1,100)
    with open("hiscore.txt") as f:
        hiscore=f.read()
        if(hiscore!=0):
            hiscore=int(hiscore)
        else:
            hiscore=0

    print(f"your score is:{yourscore}")
    if(yourscore>int(hiscore) or hiscore==""):
        with open ("hiscore.txt","w") as f:
            f.write(str(yourscore))
    return yourscore


game()

you are playing...
your score is:87

87

In [11]:
import random

def game(): 
    print("You are playing the game..")
    score = random.randint(1, 62)
    # Fetch the hiscore
    with open("hiscore.txt") as f:
        hiscore = f.read()
        if(hiscore!=""):
            hiscore = int(hiscore)
        else:
            hiscore = 0

    print(f"Your score: {score}")
    if(score>hiscore):
        # write this hiscore to the file
        with open("hiscore.txt", "w") as f:
            f.write(str(score))

    return score

game()

You are playing the game..
Your score: 43

43

In [22]:
def generate_table(n):
    table=""
    for i in range(1,11):
        table+=(f"{n}X{i}={n*i}\n")
    with open(f"tables/table{n}.txt","w") as f:
                f.write(table)
                

                
for i in range(2,21):
    generate_table(i)

In [21]:
#3
def generateTable(n):
    table = ""
    for i in range(1, 11):
        table += f"{n} X {i} = {n*i}\n"
    
    with open(f"tables/table_{n}.txt", "w") as f:
        f.write(table)




for i in range(2, 21):
    generateTable(i)

In [2]:
#4
with open("file.txt") as f:
    content=f.read()
    
    content=content.replace("donkey","#######")
    
    with open("file.txt","w") as f:
        f.write(content)

In [19]:
#5
s=["donkey","monkey","animals"]
with open("file.txt") as f:
    content=f.read()
    for word in s:
        
        content=content.replace(word,"#"*len(word))
    
    with open("file.txt","w") as f:
        f.write(content)

In [28]:
#6
with open("log.txt") as f:
    content = f.read()

if("python" in content):
    print("Yes python is present")
else:
    print("No Python is not present")

python is present. in line: 1

In [26]:
#7
with open("log.txt") as f:
    lines = f.readlines()

lineno = 1
for line in lines:
    if("Python" in line):
        print(f"Yes python is present. Line no: {lineno}")
        break
    lineno += 1

else:
    print("No Python is not present")

Yes python is present. Line no: 1

In [34]:
with open("log.txt") as f1:
    content1=f1.read()
    
with open("log2.txt") as f:
    content2=f.read()
    
if(content1==content2):
    print("identical")
else:
    print("not identical")

identical

In [36]:
# 10
with open("file.txt","w") as f:
    content=f.write("")

### object oriented programming

In [46]:
class Employee:
    name="harry"
    language = "Py" # This is a class attribute
    salary = 1200000


harry = Employee()

print(harry.name, harry.language, harry.salary)

harry Py 1200000

In [79]:
class Employee: 
    language = "Py" # This is a class attribute
    salary = 1200000


harry = Employee()
harry.name = "Harry" # This is an instance attribute
print(harry.name, harry.language, harry.salary)

rohan = Employee()
rohan.name = "Rohan Roro Robinson"
print(rohan.name, rohan.salary, rohan.language)




# Here name is instance attribute and salary and language are class attributes as they directly belong to the class

Harry Py 1200000
Rohan Roro Robinson 1200000 Py

In [78]:
class Employee: 
    language = "Py" # This is a class attribute
    salary = 1200000



 
    def getinfo(self):
        print(f"the language is:{self.language} \nand the salary is:{self.salary}")
    @staticmethod
    def greet():
        print("good morning")
        
        
harry = Employee()
harry.name = "Harry" # This is an instance attribute    
harry.getinfo() 
harry.greet()
#Employee.getinfo(harry)

the language is:Py
and the salary is:1200000
good morning

In [134]:
class Employee: 
    name="harshit"
    language = "Py" # This is a class attribute
    salary = 1200000
#     
#         
    def __init__(self,name,salary,language):#dunder method autometically called
        
        self.name=name
        self.salary=salary
        self.language=language
        print("i am creating an object")



 
#     def getinfo(self):
#         print(f"the language is:{self.language} \nand the salary is:{self.salary}")
#     @staticmethod
#     def greet():
#         print("good morning")
        
        
# harry = Employee()
# harry=Employee("harshit",4500,"ku")
# print(harry.name,harry.salary,harry.language)




 
   
        
        
# harry = Employee()
# harry=Employee("harshit",4500,"ku")
# print(harry.name,harry.salary,harry.language)

# harry.name = "Harry" # This is an instance attribute    
# harry.getinfo() # Employee.getinfo(harry)
# harry.greet()



# harshit=Employee("harshit",4500,"ku")
# print(harshit.name,harshit.salary,harshit.language)

harry=Employee("harry",45700,"py")
print(harry.name,harry.salary,harry.language)

i am creating an object
harry 45700 py

## oops practice questions

In [103]:
#1
class programmer:
    company="Microsoft"
    def __init__(self,name,salary,language):
        self.name=name
        self.salary=salary
        self.language=language

p=programmer("harshit",1500000,"python")        

print(p.name,p.salary,p.company,p.language)

harshit 1500000 Microsoft python

In [104]:
#2
class Calculator:
    def __init__(self, n):
        self.n = n 
    
    def square(self):
        print(f"The square is {self.n*self.n}")

    def cube(self):
        print(f"The cube is {self.n*self.n*self.n}")

    def squareroot(self):
        print(f"The squareroot is {self.n**1/2}")

a = Calculator(4)
a.square()
a.cube()
a.squareroot()

The square is 16
The cube is 64
The squareroot is 2.0

In [117]:
#3
from random import randint# import random 

class train:
    def __init__(self,trainno):
        self.trainno=trainno
    
    def book(self,fro,to):
        print(f"ticket is book in trian number:{self.trainno} from {fro} to {to}")
        
    def getstatus(self):
         print(f"Train no: {self.trainNo} is running on time")
    
    def getfare(self,fro,to):
        print(f"ticket is bookfair in trian number:{self.trainno} from {fro} to {to} is : {random.randint(1,999)}")
        
        
        
t=train(12345)
t.book("rampur","delhi")

ticket is book in trian number:12345 from rampur to delhi

## inheritance

In [138]:
class employee:
    company="itc"
    def shoe(self):
        print(f"my name is {self.name}and salary is {self.salary}") 
        
# class programmer:
#     company="itc info tech"
#     def show(self):
#         print(f"my name is {self.name}and salary is {self.salary}") 
        
        
#     def showlanguage(self):
#         print(f"my name is {self.name}and salary is {self.salary}and he is good in {self.language}")
        
a=employee
b=programmer
print(a.company,b.company)

itc itc info tech

In [143]:
class programmers(employee):
    company="itc infotech"
    
           
    def showlanguage(self):
        print(f"my name is {self.name}and salary is {self.salary}and he is good in {self.language}")
        


a=employee
b=programmer
print(a.company,b.company)

itc itc info tech

In [158]:
# multiple inheritance
class employee:
    company="itc"
    salary=12345678
    def show(self):
        print(f"my name is {self.company} and salary is {self.salary}") 
        
class coder:
    language="python"
    def printlanguage(self):
        print(f"out of all the languages your languaue is:{self.language}")
        
class programer(employee,coder):
    company="itc info tech"
    def showlanguage(self):
        print(f"my name is {self.company} and salary is {self.salary}")
        
        
a=employee()
b=programer() 

b.show()
b.printlanguage()
b.showlanguage()

my name is itc info techand salary is 12345678
out of all the languages your languaue is:python
my name is itc info techand salary is 12345678

In [153]:
class Employee:
    company = "ITC"
    name = "Default name"
    def show(self):
        print(f"The name of the Employee is {self.name} and the company is {self.company}")

class Coder:
    language = "Python"
    def printLanguages(self):
        print(f"Out of all the languages here is your language: {self.language}")
     


class Programmer(Employee, Coder):
    company = "ITC Infotech"
    def showLanguage(self):
        print(f"The name is {self.company} and he is good with {self.language} language")


a = Employee()
b = Programmer()

b.show()
b.printLanguages()
b.showLanguage()

The name of the Employee is Default name and the company is ITC Infotech
Out of all the languages here is your language: Python
The name is ITC Infotech and he is good with Python language

In [ ]:
class Employee:
    a = 1 

class Programmer(Employee):
    b = 2 

class Manager(Programmer):
    c = 3

o = Employee()
print(o.a) # Prints the a attribute
# print(o.b) # Shows an error as there is no b attribute in Employee class

o = Programmer()
print(o.a, o.b)


o = Manager()
print(o.a, o.b, o.c)